{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{{ url_for('static', filename='js/heat.js') }}"></script>
{% endblock %}
{% block title %}HeatMap{% endblock %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper" style="padding: 2em 0em 4em;">
    <div class="container">
        <header class="major">
            <h3 style="font-weight: 600;">지하철 카페 히트맵</h3>
            <h4>대구시의 지하철역 반경 1Km의 카페 브랜드 입점 현황을 확인하고 어느 역에 브랜드 카페가 많이 분포되어 있는지 확인할 수 있습니다.</h4>
        </header>
        <div class="btn" style="margin-right:20px; margin-left:20px;">
            {% for i in line %}
            <button class="dropbtn" onclick="updateHeat('{{i}}');">
                {% if i == 'line1' %}1호선
				{% elif i == 'line2' %}2호선
				{% elif i == 'line3' %}3호선
				{% else %}전체
				{% endif %}    
            </button>
            {% endfor %}
        </div>
        <div id="heatmap" style="width: 1100px; height: 500px"></div>
    </div>
</section>
{% endblock %}
