{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/subwayTime.js') }}"></script>
{% endblock %}
{% block title %}SubwayChart{% endblock %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper" style="padding: 2em 0em 4em;">
	<div class="container">
		<header class="major" style="margin: 0;">
			<h3 style="font-weight: 600;">지하철 유동인구</h3>
			<h5 style="padding: 0.5em 0em 0em;">대구시의 지하철 유동인구를 확인하고 높은 지역이 실제로 상권이 활성화 되어 있는지 시각적으로 확인할 수 있습니다.</h5>
		</header>

		<div style="height:400px; float: left;"><canvas style="height:100%;" id="myChart"></canvas></div>

		<div style="float: right;">
			{% for j in time %}
			<div class="dropdown">
				<button class="dropbtn"
					style=" border-radius: 10px; box-shadow: 0 3px 0 #0e8c73; font-weight: 600;">{{j}} 승차</button>
				<div class="dropdown-content">
					{% for i in list %}
					<a onclick="updateChart('up', '{{i}}', '{{j}}');">
						{% if i == 'one' %}1호선
						{% elif i == 'two' %}2호선
						{% elif i == 'thr' %}3호선
						{% else %}전체
						{% endif %}승차 </a>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			{% for j in time %}
			<div class="dropdown">
				<button class="dropbtn"
					style=" border-radius: 10px; box-shadow: 0 3px 0 #0e8c73; font-weight: 600;">{{j}} 하차</button>
				<div class="dropdown-content">
					{% for i in list %}
					<a onclick="updateChart('down', '{{i}}', '{{j}}');">
						{% if i == 'one' %}1호선
						{% elif i == 'two' %}2호선
						{% elif i == 'thr' %}3호선
						{% else %}전체
						{% endif %}하차 </a>
					{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>
		<p class="analysis"></p>
	</div>
	<div style="clear:both"></div>

	</div>
</section>


{% endblock%}